#status{
  	border: 1px outset #ccc;
	text-align::left;
	background:#CACACA;
	height:50px;
	padding:5px;
}
#gameStatus{
	font-weight:bold;
	font-size:1.9em;
	color:#FFFEAD;
	display:inline;
	float:left;
	margin-left:50px;
}
#scoreStatus{
	font-weight:bold;
	font-size:1.8em;
	display:inline;
	float:right;
	margin-right:50px;
}
#otherPlayerDisplay{
	background:#BAFFF9;
  	border: 1px outset #ccc;
	padding:5px;
}
#thisPlayer{
	background:#F9FFBB;
  	border: 1px outset #ccc;
	padding:10px;
}
#otherPlayer{
	display:inline;
	
}
#stage {
  border: 1px outset #ccc;
}

#stage_background {
  position: relative;
  margin: 0;
  height: 250px;
  
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#347f5c+1,69cec2+78 */
	background: #347f5c; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #347f5c 1%, #69cec2 78%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #347f5c 1%,#69cec2 78%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #347f5c 1%,#69cec2 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347f5c', endColorstr='#69cec2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
	
	  box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
}

#stage_background div {
  position: absolute;
  left: -140px;
  top: 100px;
  z-index: 0;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  -webkit-transition-property: left, top, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out, ease-out, ease-in-out;
}
#card0{
	background:#B00104;
}
.cardCaption{
	font-weight:bold;
	margin-top:5px;
	background:#F3FF7F;
	
}
