@{
    ViewBag.Title = "About Atomic Arcade";
    Layout = "~/Views/Shared/_framedLayout.cshtml";
    ViewBag.Current = "About";
}
                <h2>@ViewBag.Title</h2>
                <p>Atomic Arcade is a demonstration site by Rachael Harralson-Valletta.</p>
                <a href="https://github.com/rharralson">GitHUB</a><br />
                <a href="http://www.cyberidian.com/AtomicArcade/blog">Atomic Arcade Blog</a>
                <div class="section-spacer"></div>
                <div class="well text-left well-highlights">
                   <h4>Technologies Used</h4>
                   <ul>
                       <li><strong>Atomic Arcade Portal</strong>:<br />ASP.NET MVC 5, C#, Entity Framework 6.0, SQL, HTML,Bootstrap,CSS,<br /> Javascript, ASP.Net Identity</li>
                        <li><strong>Atomic Arcade Blog</strong>:<br />Wordpress, PHP, HTML, CSS</li>
                        <li><strong>Go Fish</strong>:<br />Angular JS, Javascript, Node.js</li>
                        <li><strong>Go Fish Multiplayer</strong>:<br />Angular JS, Javascript, Node.js</li>
                        <li><strong>Halloween Puzzles</strong>:<br />Angular JS, Javascript</li>
                        <li><strong>Black Jack</strong>:<br />C#, ASP.net, Angular JS, Javascript</li>
                    </ul>
                    <p>Graphics were created from Adobe stock or custom graphics.</p>
                 </div>
                 <div class="section-spacer"></div>
