@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_framedLayout.cshtml";
}
<div class="policy-notice">
                    <h3>Privacy Policy</h3>
                    <p>updated: 10/12/2017</p>
                    <p>This online privacy policy tells you about the information this site collects through the services and games available on Cyberidian.com and Cyberidian.com/AtomicArcade (the "Site"),  how that information is used and how you can request closure of your account and removal of your information from our databases.</p>
                    <p>By using these services and accessing this Site, you are consenting to the information collection and use practices described in this policy, as modified from time to time by us. If we decide to change our privacy policy, we will post a new policy on our Site and change the date at the top of the policy. Therefore, we encourage you to check the date of our privacy policy whenever you visit this Site for any updates or changes</p>
                    <p>This Site is for demonstration and entertainment purposes only. It is offered "as is". Information collected on this site will never be resold or used for any purpose unrelated to this Site.</p>
                    <p>Children under 13 years of age may not create an account on the Site. The Site is intended for adults 18 years and older only. </p>
                    <p>We do not collect information about visitors on our Site. When you create an account, the Site collects "Personal Information", which generally speaking is information that can be used to identify you individually, such as your name. We strive to collect only the minium "Personal Information" needed for security and operation of the Site. We also collect "Non-personal Information", which is information about you that does not itself identify you individually. Examples of Non-personal Information include game selection and game scores. We also collect "Aggregate Information", which is information about use of our site, such as pages visited on our Site. The information we collect depends on what services and games you use on our Site. </p>
                    <p>If you would like your account closed and/or "Personal Information" removed from this Site and its databases, please email <a href="mailto:info@cyberidian.com">info@cyberidian.com</a>. </p>
                    <h4>Cookies</h4>
                    <p>This Site makes use of "cookies". We use cookies to allow us to automate access and data entry functions of our Site such as to tailor the Site to your preferences or interests, or customize promotions or marketing. In addition, cookies allow us to track use of the Site to determine those areas which are useful or popular and those that are not thereby enabling us to improve and update the Site effectively.</p>
                    <p>You may adjust your Web browsers to either alert you of the use of cookies or refuse to accept cookies entirely. Be aware that if you elect not to accept cookies, some parts of the Site may not function properly or permit access.</p>
                    <div class="section-spacer"></div>
</div>