<footer>
    <div class="container company-footer text-center">
        <div class="row">
            <div class="col-xs-12">
                <h5><strong>Atomic Arcade Demo</strong></h5>
                @Html.ActionLink("Privacy", "Privacy", "Portal") | <a href="https://cyberidian.atlassian.net/servicedesk/customer/portal/1">Need Help?</a> | <a href="https://cyberidian.atlassian.net/servicedesk/customer/portal/1/create/5">Report an issue with this site.</a> | Email: <a href="mailto:rachael@cyberidian.com">rachael@cyberidian.com</a>
                <p>@Html.ActionLink("Copyright ©2017", "Copyright", "Portal") Rachael Harralson-Valletta. All Rights Reserved. | <a href="https://github.com/rharralson/atomic-arcade-demo">GitHub</a></p>
            </div>
        </div>
    </div>
</footer>
